@charset "UTF-8";
body{
	/*background: url("../images/purple-01.png");
	background-size: 100% auto;
	background-repeat: no-repeat;*/
	margin: 0 auto !important;
}
.centeredElements{
	width: 960px;
	margin: 0 auto !important;
}
#lr-widget{
	width: 100% !important;
	margin-right: auto !important;
	margin-left: auto !important;
	padding: 0px !important;
}
.jumbotron{
	padding: 0px;
	margin: 0px;
	background-color: white;
}
.navbar-nav li{
	font-family: 'libbyhandmedium';
}
.regular{
	padding-right: 20px;
}
.socialMedia{
	padding-right: 5px;
}
.socMed{
	width:30px; 
	height:30px;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
}
.navbar-brand{
	float: none;
	margin: 0 auto;
	padding-right: 20px;
}
#mainnav{
	text-align: center !important;
}
.navbar{
	background-color: white !important;
	border: none !important;
}
.socialMedia{
	float: none;
	margin: 0 auto;
}
@font-face {
    font-family: 'libbyhandmedium';
    src: url('../fonts/libbyhand-webfont.eot');
    src: url('../fonts/libbyhand-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/libbyhand-webfont.woff') format('woff'),
         url('../fonts/libbyhand-webfont.ttf') format('truetype'),
         url('../fonts/libbyhand-webfont.svg#libbyhandmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

