body{
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
}
h3 {
	color: #5C5C5C;
	text-align:left;
	font-size: 14pt;
	font-family: helvetica;
	padding-bottom: 5px;
	margin-left: auto;
	margin-right: auto;

}
.Banner {
	display: block;
    margin-left: auto;
    margin-right: auto; 
}
.socialMedia{
	width: 400px;
	float: right;
	margin-left: 20px;
}
